[submodule "nemo-spinup-forecast"]
	path = nemo-spinup-forecast
	url = https://github.com/kcmccool/nemo-spinup-bench_cloned.git
[submodule "nemo-spinup-evaluation"]
	path = nemo-spinup-evaluation
	url = https://github.com/m2lines/nemo-spinup-evaluation.git
[submodule "nemo-spinup-restart"]
	path = nemo-spinup-restart
	url = https://github.com/m2lines/nemo-spinup-restart.git
